body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightgray;
    margin: 5%;
    padding: 5%
}
.container 
{
    width: 900px;
    margin: 0 auto;
    background-color: white;
    padding: 25px;
    border: 1px solid black;
    border-radius: 15px;
    box-shadow: 2px 2px grey;
}
h1{
    line-height: 1.5;
    color:crimson;
    margin-bottom: 10px;
}
h2 {
    line-height: 1.5;
    margin-top: 20px;
    margin-bottom: 10px;
}
p {
    line-height: 1.5;
    margin-bottom: 10px;
}
ul {
    padding-left: 20px;
}

li {
    margin-bottom: 6px;
}
img {
    width: 100%;
    max-width: 700px;
    display:flex;
    margin: 10px auto;
    border: 2px solid black;
    border-radius: 10px;
}
a {
    color: #0b6aa2;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}





